{% extends "new-base.html" %}
{% load staticfiles %}

{% block title %}
    South Natick Law | About Our Firm
{% endblock %}

{% block content %}

{#    todo bootstrap about pages#}
{#    todo social profile links & direct phone lines#}

    <!-- Page Content -->
    <section class="section-padding">
        <div class="container">

            <!-- Introduction Row -->
            <div class="row">
                <div class="col-sm-12 text-center">
{#                    <h1 class="page-header">#}
{#                        South Natick Law#}
{#                    </h1>#}
                    <h1 class="arrow">South Natick Law: Background and History</h1>
                </div>
            </div>
            <div class="row">
{#                <div class="col-sm-4">#}
{#                    <img class="img-responsive" src=" {% static "img/beacher-house.jpg"%} " alt="Harriet Beecher Stowe House">#}
{#                </div>#}
                <div class="col-sm-12">
                    <p>Our firm presently consists of five full time in-house attorneys: four shareholders and one associate. The firm maintains e-mail access, state-of-the-art computerized word processing, legal research and conveyancing systems with computerized access to the all the Registries of Deeds in Barnstable, Bristol, Worcester, Middlesex, Suffolk, Norfolk, Plymouth and Essex Counties. Each attorney has their own areas of specialization and all attorneys maintain and expand their areas of expertise by attending frequent continuing legal education courses and keeping active in various bar associations. As each advances within one's field, additional staff is employed to handle the case load as needed.</p>
    {#                <p>Since 1985, the firm has been located in one of Natick's most prominent historical properties, The Harriet Beecher Stowe House, which was purchased by the firm and is utilized as the firm's office. The house is listed on the National Historic Register and has been renovated and maintained in such a way as to retain its original character and be a landmark of which the Town can be proud.</p>#}
                </div>
            </div>

            <!-- Team Members Row -->
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="arrow">Our Team</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-sm-6 text-center">
                    <a href="{% url 'profile' 'george-richards'%}">
                        <img class="img-circle img-responsive img-center" src="{% static "img/richards_full.png" %}" alt="George L Richards III">
                    </a>

                    <a href="{% url 'profile' 'george-richards'%}">
                        <h3>
                            George Richards
                            <small>
                                Principal
                            </small>
                        </h3>
                    </a>
                    <p>
                        What does this team member to? Keep it short! This is also a great spot for social links!
                    </p>
                    <ul class="list-inline">
                        <li><a href="https://www.facebook.com/george.richards.7509"><i class="fa fa-2x fa-facebook-square"></i></a>
                        </li>
                        <li><a href="https://www.linkedin.com/pub/george-richards/74/ba9/139"><i class="fa fa-2x fa-linkedin-square"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6 col-sm-6 text-center">
                    <a href="{% url 'profile' 'james-mclaughlin'%}">
                    <img class="img-circle img-responsive img-center" src="{% static "img/mclaughlin_full.png" %}" alt="James McLaughlin">
                    </a>
                    <a href="{% url 'profile' 'james-mclaughlin'%}">
                        <h3>James McLaughlin
                            <small>Principal</small>
                        </h3>
                    </a>
                    <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
                    <ul class="list-inline">
                        <li><a href="https://www.facebook.com/george.richards.7509"><i class="fa fa-2x fa-facebook-square"></i></a>
                        </li>
                        <li><a href="https://www.linkedin.com/pub/george-richards/74/ba9/139"><i class="fa fa-2x fa-linkedin-square"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6 col-sm-6 text-center">
                    <a href="{% url 'profile' 'richard-biller'%}">
                        <img class="img-circle img-responsive img-center" src=" {% static "img/biller_full.png" %}" alt="Richard Biller">
                    </a>
                    <a href="{% url 'profile' 'richard-biller'%}">
                        <h3>Richard Biller
                            <small>Principal</small>
                        </h3>
                    </a>
                    <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
                    <ul class="list-inline">
                        <li><a href="https://www.facebook.com/george.richards.7509"><i class="fa fa-2x fa-facebook-square"></i></a>
                        </li>
                        <li><a href="https://www.linkedin.com/pub/george-richards/74/ba9/139"><i class="fa fa-2x fa-linkedin-square"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-sm-6 text-center">
                    <a href="{% url 'profile' 'caren-schindel'%}">
                    <img class="img-circle img-responsive img-center" src=" {% static "img/schindel_full.png" %}" alt="Caren Schindel">
                    </a>
                    <a href="{% url 'profile' 'caren-schindel'%}">
                        <h3>Caren Schindel
                            <small>Principal</small>
                        </h3>
                    </a>
                    <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
                    <ul class="list-inline">
                        <li><a href="https://www.facebook.com/george.richards.7509"><i class="fa fa-2x fa-facebook-square"></i></a>
                        </li>
                        <li><a href="https://www.linkedin.com/pub/george-richards/74/ba9/139"><i class="fa fa-2x fa-linkedin-square"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                        </li>
                    </ul>
                </div>
    {#            todo center image#}
{#                <div class="col-lg-4 col-sm-6 text-center">#}
{#                    <a href="{% url 'profile' 'leah-kaine'%}">#}
{#                    <img class="img-circle img-responsive img-center" src="{% static "img/kaine_full.png"%}" alt="Leah Kane">#}
{#                    </a>#}
{#                    <a href="{% url 'profile' 'leah-kaine'%}">#}
{#                        <h3>Leah Kaine#}
{#                            <small>Associate</small>#}
{#                        </h3>#}
{#                    </a>#}
{#                    <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>#}
{#                    <ul class="list-inline">#}
{#                        <li><a href="https://www.facebook.com/george.richards.7509"><i class="fa fa-2x fa-facebook-square"></i></a>#}
{#                        </li>#}
{#                        <li><a href="https://www.linkedin.com/pub/george-richards/74/ba9/139"><i class="fa fa-2x fa-linkedin-square"></i></a>#}
{#                        </li>#}
{#                        <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>#}
{#                        </li>#}
{#                    </ul>#}
{#                </div>#}
{#                <div class="col-lg-4 col-sm-6 text-center">#}
    {#                <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">#}
    {#                <h3>John Smith#}
    {#                    <small>Job Title</small>#}
    {#                </h3>#}
    {#                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>#}
                </div>
                <!-- END row -->
            </div>
                <!-- END container -->
            </div>
        </section>

        <hr>

{% endblock %}