{% extends "base.html" %}

{% block title %}
Leah Kaine | Natick MA Domestic Relations Attorney
{% endblock %}
{#todo change images from url references to references to static/img folder#}
{% block content %}
<p><img style="margin-right: 10px; margin-bottom: 10px; float: left;" alt="South Natick Law - Leah A. Kaine, Esq." src="http://www.southnaticklaw.com/images/kaine_full.png" height="199" width="150" /><em><strong>LEAH A. KAINE, Esq.</strong></em> has been an Associate with the firm since 2003. Ms. Kaine is a graduate of Northeastern University School of Law and Simmons College. She is a member of the Massachusetts Bar and is admitted to practice in the U.S. District Court of Massachusetts, the U.S. Bankruptcy Court, and the First Circuit Court of Appeals.</p>
<p>Ms. Kaine is a member of the Women's Bar Association, and the Massachusetts Employment Lawyers Association, and is on the Amicus Committees of both. She participates in the Lawyer for the Day program through Metrowest Legal Services and the Norfolk County Probate &amp; Family Court. Her practice focuses on domestic relations, bankruptcy, employment law, zoning and municipal permitting.</p>
{% endblock %}