container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python snl/manage.py migrate --noinput"
    leader_only: true
  03_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python snl/manage.py collectstatic --noinput"

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "snl.settings"
    "PYTHONPATH": "/opt/python/current/app/snl:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: snl/snl/wsgi.py
    NumProcesses: 3
    NumThreads: 20