
.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
    text-transform: uppercase;
    font-family: 'Roboto Slab', sans-serif;
    background-color: #3C4650;
}

.navbar-custom .fa-bars{
    color: #fff;
}

.navbar-custom .navbar-brand {
    font-weight: 700;
}

.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}

.navbar-custom a {
    color: #fff;
    /*color: gray;*/
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover {
    outline: 0;
    /*color: rgba(255,255,255,.8);*/
    color: rgba(150,119,98, .9);
    background-color: transparent;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
    outline: 0;
    background-color: transparent;
}

.navbar-custom .nav li.active {
    outline: 0;
}

.navbar-custom .nav li.active a {
    background-color: rgba(255,255,255,.3);
}

.navbar-custom .nav li.active a:hover {
    color: #fff;
}

/*todo want this transition?*/

/*@media(min-width:768px) {*/
    /*.navbar-custom {*/
        /*padding: 20px 0;*/
        /*border-bottom: 0;*/
        /*letter-spacing: 1px;*/
        /*background: 0 0;*/
        /*-webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;*/
        /*-moz-transition: background .5s ease-in-out,padding .5s ease-in-out;*/
        /*transition: background .5s ease-in-out,padding .5s ease-in-out;*/
    /*}*/

    /*.navbar-custom.top-nav-collapse {*/
        /*padding: 0;*/
        /*border-bottom: 1px solid rgba(255,255,255,.3);*/
        /*background: #000;*/
    /*}*/
/*}*/

#team-row {
    padding-top: 30px;
    padding-bottom: 20px;
}

#arrow-head-row {
    margin-bottom: 30px;
}

/* Icon Hover Effects */
/*.icon i {*/
	/*color: #eea303;*/
	/*box-shadow: 0 0 0 3px #fff;*/
	/*-webkit-transition: color 0.3s;*/
	/*-moz-transition: color 0.3s;*/
	/*transition: color 0.3s;*/
/*}*/

/*.icon:after i {*/
	/*top: -2px;*/
	/*left: -2px;*/
	/*padding: 2px;*/
	/*z-index: -1;*/
	/*background: #fff;*/
	/*-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;*/
	/*-moz-transition: -moz-transform 0.2s, opacity 0.2s;*/
	/*transition: transform 0.2s, opacity 0.2s;*/
/*}*/

/* Effect 2a */
/*todo change color on hover. tried both the div and the i, nothing changed*/
.icon:hover {
	background: #967762;
}

/*.icon:hover:after i {*/
	/*-webkit-transform: scale(0.85);*/
	/*-moz-transform: scale(0.85);*/
	/*-ms-transform: scale(0.85);*/
	/*transform: scale(0.85);*/
/*}*/

/*his colors:

Green: #3DC9B3
box shadow #309383
input button rgba(61, 201, 179, 0.5)
hero button:
rgba(61, 201, 179, 1)

rgba(61, 201, 179, 0.8)

Dark: #242830
rgba(61, 201, 179, 1)

paragraph gray
#8c9398



OUR COLORS
p gray
#717880
Dark:
#3C4650
Brown:
#967762
Brown RGB:
rgb(150,119,98)
rgba(150,119,98, 1)
button 3d shadow: #785f4e
*/

.media .text-primary {
  color: #242830;
}