.features .fa {
    text-align: center;
}

.cta-box {
	background:#eee;
	overflow:hidden;
	margin-bottom:30px;
}

.cta-text {
	float:left;
	padding: 30px 20px 20px 20px;
}

.cta-text h2 {
	font-weight:700;
	letter-spacing:-2px;
	font-size:36px;
}
.cta-box .cta {
	float:right;
	padding: 30px 20px 20px 20px;
}

body {
	background-color: #F2F2F2;
}

h3, .h3 {
	font-size: 24px;
	color: #EEEEEE;
}

.panel-default > .panel-heading {
	background-color: #4F6E91;
}


/*todo jumbotron editing*/
#hero {
	background-size: cover;
	/*background-image: url("../img/South_Natick_Law_home.png");*/
	background-image: url("../img/library.jpg");
}

.jumbotron p{
	color: #ffffff;
}

.jumbotron h1{
	color: #ffffff;
}