.features .fa {
    text-align: center;
}

.cta-box {
	background:#eee;
	overflow:hidden;
	margin-bottom:30px;
}

.cta-text {
	float:left;
	padding: 30px 20px 20px 20px;
}

.cta-text h2 {
	font-weight:700;
	letter-spacing:-2px;
	font-size:36px;
}
.cta-box .cta {
	float:right;
	padding: 30px 20px 20px 20px;
}

/*todo jumbotron editing*/
/*.jumbotron {*/
	/*background-size: cover;*/
	/*background-image: url("../img/South_Natick_Law_home.png");*/
/*}*/

/*.jumbotron p{*/
	/*color: #ffffff;*/
/*}*/

/*.jumbotron h1{*/
	/*color: #ffffff;*/
/*}*/