.features .fa {
    text-align: center;
}

.cta-box {
	background:#eee;
	overflow:hidden;
	margin-bottom:30px;
}

.cta-text {
	float:left;
	padding: 30px 20px 20px 20px;
}

.cta-text h2 {
	font-weight:700;
	letter-spacing:-2px;
	font-size:36px;
}
.cta-box .cta {
	float:right;
	padding: 30px 20px 20px 20px;
}