{% extends "base.html" %}

{% block title %}
South Natick Law | Areas of Practice
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <p>Our experienced team of attorneys provide representation to clients in the following areas:</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <dl>
            <dt>Elder Law</dt>
                <dd>Guardianships/Conservatorships</dd>
                <dd>Long-Term Care</dd>
                <dd>End of Life Planning</dd>
                <dd>Medicaid</dd>
        </dl>
    </div>
    <div class="col-md-4">
         <dl>
            <dt>Domestic Relations</dt>
                <dd>Divorce</dd>
                <dd>Child Custody</dd>
                <dd>Paternity</dd>
                <dd>Pre-Nuptial Agreements</dd>
                <dd>Adoption</dd>
        </dl>
    </div>
    <div class="col-md-4">
        <dl>
            <dt>Estate Administration</dt>
                <dd>Appointment of Executor/Administrator</dd>
                <dd>Inventories</dd>
                <dd>Accounts</dd>
                <dd>Estate Taxation</dd>
                <dd>Estate Planning</dd>
                <dd>Wills</dd>
                <dd>Trusts</dd>
                <dd>Durable Powers of Attorney</dd>
                <dd>Taxation</dd>
                <dd>Special Needs Trusts</dd>
                <dd>Gifting</dd>
                <dd>End of Life Planning</dd>
        </dl>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <dl>
            <dt>Probate</dt>
                <dd>Will Contests</dd>
                <dd>Probate Litigation</dd>
                <dd>Guardianships/Conservatorships</dd>
        </dl>
    </div>
    <div class="col-md-4">
        <dl>
            <dt>Real Estate</dt>
                <dd>Purchase and Sales Agreements</dd>
                <dd>Residential Real Estate</dd>
                <dd>Commercial Real Estate</dd>
                <dd>Zoning</dd>
                <dd>Conveyancing</dd>
        </dl>
    </div>
    <div class="col-md-4">
        <dl>
            <dt>Taxation</dt>
                <dd>Personal Income Tax</dd>
                <dd>Corporate Income Tax</dd>
                <dd>Estate Tax</dd>
                <dd>Estate Income Tax</dd>
                <dt>We also do...</dt>
                <dd>Bankruptcy</dd>
                <dd>Criminal Law</dd>
                <dd>Civil Litigation</dd>
                <dd>Employment</dd>
        </dl>
    </div>
</div>
{% endblock %}