{% extends "base.html" %}

{% block title %}
South Natick Law | Areas of Practice
{% endblock %}

{% block content %}
<p>Our experienced team of attorneys provide representation to clients in the following areas:</p>
    <dl>
        <dt>Elder Law</dt>
            <dd>Guardianships/Conservatorships</dd>
            <dd>Long-Term Care</dd>
            <dd>End of Life Planning</dd>
            <dd>Medicaid</dd>
            <br>
        <dt>Domestic Relations</dt>
            <dd>Divorce</dd>
            <dd>Child Custody</dd>
            <dd>Paternity</dd>
            <dd>Pre-Nuptial Agreements</dd>
            <dd>Adoption</dd>
            <br>
        <dt>Estate Administration</dt>
            <dd>Appointment of Executor/Administrator</dd>
            <dd>Inventories</dd>
            <dd>Accounts</dd>
            <dd>Estate Taxation</dd>
            <dd>Estate Planning</dd>
            <dd>Wills</dd>
            <dd>Trusts</dd>
            <dd>Durable Powers of Attorney</dd>
            <dd>Taxation</dd>
            <dd>Special Needs Trusts</dd>
            <dd>Gifting</dd>
            <dd>End of Life Planning</dd>
            <dt>Probate</dt>
            <dd>Will Contests</dd>
            <dd>Probate Litigation</dd>
            <dd>Guardianships/Conservatorships</dd>
            <br>
        <dt>Real Estate</dt>
            <dd>Purchase and Sales Agreements</dd>
            <dd>Residential Real Estate</dd>
            <dd>Commercial Real Estate</dd>
            <dd>Zoning</dd>
            <dd>Conveyancing</dd>
        <br>
        <dt>Taxation</dt>
            <dd>Personal Income Tax</dd>
            <dd>Corporate Income Tax</dd>
            <dd>Estate Tax</dd>
            <dd>Estate Income Tax</dd>
            <dt>We also do...</dt>
            <dd>Bankruptcy</dd>
            <dd>Criminal Law</dd>
            <dd>Civil Litigation</dd>
        <br>
        <dd>Employment</dd>
{% endblock %}