{% extends "base.html" %}
{% load bootstrap %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <h2 class="page-header">Contact Us <small>Call today or fill out a form below to speak with one of <a href="{% url 'about' %}">our attorneys</a></small></h2>
    </div>
</div>
<div class="row">


    <div class="col-md-6 col-sm-12">
            <br>
            <form method="post">
                {% csrf_token %}
                {{ form | bootstrap }}
{#                <input type="submit" value="Get in touch!">#}
                <button type="submit" class="btn btn-primary">Get in Touch!</button>
            </form>
            <br>
    </div>
    <div class="col-md-5  col-md-offset-1 col-sm-12">
        <br>
        <h3>Contact Details</h3>
          <address>
              <strong>South Natick Law</strong><br>
{#                  McLaughlin, Richards, Biller & Schindel, LLP<br>#}
              8E Pleasant Street<br>
              South Natick, MA 01760<br>
          </address>
        <p><i class="fa fa-phone"></i>
            <abbr title="Phone">P</abbr>: (508) 651-1000</p>
        <p><i class="fa fa-envelope-o"></i>
            <abbr title="Email">E</abbr>: <a href="mailto:info@southnaticklaw.com">info@southnaticklaw.com</a>
        </p>
        <p><i class="fa fa-clock-o"></i>
            <abbr title="Hours">H</abbr>: Monday - Friday: 9:00 AM to 5:00 PM</p>
        <ul class="list-unstyled list-inline list-social-icons">
            <li>
                <a href="#"><i class="fa fa-facebook-square fa-2x"></i></a>
            </li>
            <li>
                <a href="#"><i class="fa fa-linkedin-square fa-2x"></i></a>
            </li>
            <li>
                <a href="#"><i class="fa fa-twitter-square fa-2x"></i></a>
            </li>
            <li>
                <a href="#"><i class="fa fa-google-plus-square fa-2x"></i></a>
            </li>
        </ul>
    </div>
{#    <div class="col-md-6 col-sm-12">#}
{#        <iframe#}
{#          width="100%"#}
{#          height="450"#}
{#          frameborder="0" style="border:0"#}
{#          src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAJxo8rgr4XLK7WCpyI1JuEt07NI2R99ZY&q=South+Natick+Law,Natick+MA">#}
{#        </iframe>#}
{#        <br>#}
{#    </div>#}

</div>

<div class="row">
    <div class="col-sm-12">
        <iframe
          width="100%"
          height="450"
          frameborder="0" style="border:0"
          src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAJxo8rgr4XLK7WCpyI1JuEt07NI2R99ZY&q=South+Natick+Law,Natick+MA">
        </iframe>
        <br>
    </div>
</div>
    <br>

{#    Previous contacts:#}
{#    {% for contact in contacts %}#}
{#        <ul>#}
{#            <li>{{ contact.email }}</li>#}
{#        </ul>#}
{#    {% endfor %}#}
{% endblock %}

# format
# todo not sure this is adding objects to the database