{% extends "base.html" %}

{% block title %}
    South Natick Law | MetroWest Attorneys
{% endblock %}

{% block content %}
{#<div class="container">#}
<div class="row">
    <div class="col-sm-12">
        <div class="jumbotron">
          <h1>South Natick Law</h1>
          <p class="lead">Small Firm Attention. Big Firm Sophistication.</p>
          <p>
            <a class="btn btn-primary btn-lg" href="{{ 'about' }}">
              Learn More
            </a>
                      <a class="btn btn-primary btn-lg" href="{{ 'contact' }}">
              Schedule a Free Consultation
            </a>
          </p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
      <p>
        At South Natick Law we have the patience to listen to you. We take the time to understand your problems and the outcomes you hope to achieve. Our goal is to design and implement a plan to effectively and efficiently address your legal issues and achieve your goals. We believe that when the attorney and client work together as a team the sky is the limit.
      </p>
        <br>
    </div>
</div>

<div class="row features">
    <div class="col-sm-4 text-center">
          <a href="{% url 'about' %}"><i class="fa fa-university fa-3x"></i></a>
{#        <a href="{% url 'about' %}"><i class="fa fa-users fa-4x"></i></a>#}
        <h2 class="text-center"><a href="{% url 'about' %}">Meet our Team</a></h2>
      <p>
        Our attorneys possess over 100 years of combined experience...
      </p>
    </div>
    <div class="col-sm-4 text-center">
{#        <i class="fa fa-briefcase fa-4x fa-align-center"></i>#}
        <a href="{% url 'aop' %}"><i class="fa fa-gavel fa-3x fa-align-center"></i></a>
        <h2 class="text-center"><a href="{% url 'aop' %}">Areas of Expertise</a></h2>
      <p>
        We focus domestic relations, estate planning, real estate, probate and tax law and more...
      </p>
    </div>
    <div class="col-sm-4 text-center">
{#        todo rotating testimonial here vs. an entire page would be great#}
        <a href="{% url 'testimonials' %}"><i class="fa fa-comments fa-3x fa-align-center"></i></a>
        <h2 class="text-center"><a href="{% url 'testimonials' %}">Customer Testomnials</a></h2>
      <p>
        We're lawyers, we like to talk. But we also like to let our customers do the selling for us...
      </p>
        <br>
    </div>
</div>

{#todo optional CTA box#}
<div class="row">
    <div class="col-sm-12">
        <div class="cta-box">
            <div class="cta-text text-center">
              <p>
                Ready to speak to an attorney? Call 508-651-1000 for a quick chat.
              </p>
            </div>
        </div>
    </div>
</div>

{#    <p>#}
{#        <a href="{{ 'about' }}">Our attorneys</a> possess over 100 years of combined experience in domestic relations, estate planning, real estate, probate and tax law. Whether your problem is complex or simple, we have the experience and expertise to find workable solutions at a reasonable cost.#}
{#    </p>#}
    <p>
        Over the years, we have developed four pillars of practice that guide us in our representation of you:
        <ol type="I">
            <li>We adhere to the highest level of integrity and ethics, both professionally and personally.</li>
            <li>We provide highly sophisticated advice and planning while maintaining the warm, personal touch of a small firm.</li>
            <li>We are committed to breaking every problem down into its simplest elements so we can explain the issues and solutions in a simple, straight forward manner.</li>
            <li>We work hard to stay current in our areas of expertise. We attend conferences and seminars and study new developments and trends in the law.</li>
        </ol>
        In short, we utilize our combined knowledge and skill to obtain successful results for our clients both in and out of court. Whether your problem is complex or simple, we have the experience and expertise to find workable solutions at a reasonable cost.
    </p>
    <br>
{#</div>#}
{% endblock%}