{% extends "base.html" %}

{% block title %}
South Natick Law | Thank You
{% endblock %}

{% block content %}
    <div class="alert alert-success">
        <p>You succesfully submited your request!</p>
    </div>
    <h3>Thank you {{ contact_info.first_name }},</h3>
    <p>We've sent a confirmation email to <strong>{{ contact_info.email }}</strong>.</p>
    <p>One of our attorneys will reach out directly to set up a time to chat. We look forward to meeting you!</p>
    <p>Best, <br> South Natick Law</p>
{% endblock %}