{% extends "new-base.html" %}
{#{% load markdown_deux_tags %}#}
{% load django_markdown %}
{% load staticfiles %}

{% block title %}
    South Natick Law | News &amp; Resources
{% endblock %}
{# todo add rel canonical to /blog on pagination#}

{% block content %}

<section class="section-padding">
    <div class="container">
        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Legal News &amp; Resources
{#                        <small>The South Natick Law Blog</small>#}
                </h1>
            </div>
        </div>

        <div class="row">
            <!-- Blog Entries Column -->
            <div class="col-md-8">
                {% for post in posts|dictsortreversed:'published_date' %}
                <!-- First Blog Post -->
                    <h2>
                        <a href="{% url 'view_post' slug=post.slug %}">{{ post.title }}</a>
                    </h2>
                    <p class="lead">
                        by <a href="{% url 'profile' post.author.slug %}">{{ post.author }}</a>
                    </p>
                    <p><i class="fa fa-clock-o"></i> Posted on {{ post.published_date }}</p>

{#                    <i>Tagged under:#}
{#                        {{ post.tags.all | join:", " }}#}
{#                    </i>#}
{#                    <hr>#}

                    <a href=" {% url 'view_post' slug=post.slug %}">
{#                        <img class="img-responsive img-hover" src="http://placehold.it/900x300" alt="">#}
                        <img class="img-responsive img-hover" src="{{ MEDIA_URL }}"  alt="{{ post.image_alt_text }}">
                    </a>
                    <hr>
                    <p>{{ post.make_blurb|markdown}}</p>
                    <a class="btn btn-primary" href=" {% url 'view_post' slug=post.slug %}">Read More <i class="fa fa-angle-right"></i></a>

                    <hr>
                {% endfor %}

                <!-- Pager -->
                <ul class="pager">
                    {% if posts.has_next %}
                        <li class="previous">
                            <a href="?page={{ posts.next_page_number }}">&larr; Older</a>
                        </li>
                    {% endif %}
                    <li class="current">
                        Page {{ posts.number }} of {{ posts.paginator.num_pages }}
                    </li>
                    {% if posts.has_previous %}
                        <li class="next">
                            <a href="?page={{ posts.previous_page_number}}">Newer &rarr;</a>
                        </li>
                    {% endif %}
                </ul>

            </div>

            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">

                <!-- Blog Categories Well -->
    {#            todo filtering blog list by category#}
                <div class="well">
                    <h4>Blog Categories</h4>
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                                {% for tag in tags %}
    {#                                 todo confirm this is setup correctly for tag_index view#}
                                    <li><a href="{% url 'tag_index' slug=tag.slug %}">{{ tag.name }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <!-- /.col-lg-6 -->
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
    {#                            <li><a href="#">Category Name</a>#}
    {#                            </li>#}
                            </ul>
                        </div>
                        <!-- /.col-lg-6 -->
                    </div>
                    <!-- /.row -->
                </div>

                <!-- Blog Contributors Well -->
                <div class="well">
                    <h4>Blog Authors</h4>
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                                {% for author in authors %}
                                    <li><a href="{% url 'author_index' slug=author.slug%}">{{ author}}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <!-- /.col-lg-6 -->
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
    {#                            <li><a href="#">Category Name</a>#}
    {#                            </li>#}
                            </ul>
                        </div>
                        <!-- /.col-lg-6 -->
                    </div>
                    <!-- /.row -->
                </div>

                <!-- Side Widget Well -->
                <div class="well">
                    <h4>South Natick Law Blog</h4>
                    <p>We keep you up to date on your latest local legal news and provide advice &amp; resources.</p>
                </div>

            </div>

        </div>
        <!-- /.row -->
    </div>
</section>
<section class="subscribe text-center">
  <div class="container">
        <a href="{% url 'contact' %}" class="ignite-btn">Schedule a Free Consultation</a>
  </div>
</section>
{% endblock %}