{% extends "new-base.html" %}
{% load staticfiles %}

{% block title %}
    George Richards | Natick MA Commercial &amp; Residential Lawyer
{% endblock %}

{% block content %}

<section class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">George Richards III <small>Real Estate Attorney</small></h1>
            </div>
            <div class="col-md-4">
                <img class="img-responsive img-rounded" src="{% static "img/richards_full.png" %}" alt="George L. Richards III">
                <br>
                <h2>Contact Details</h2>
                <p><i class="fa fa-phone"></i>
                    <abbr title="Phone">P</abbr>: (508) 651-1000</p>
                <p><i class="fa fa-envelope-o"></i>
                    <abbr title="Email">E</abbr>: <a href="mailto:grichards@southnaticklaw.com">grichards@southnaticklaw.com</a>
                </p>
                <p><i class="fa fa-clock-o"></i>
                    <abbr title="Hours">H</abbr>: Monday - Friday: 9:00 AM to 5:00 PM</p>
                <ul class="list-unstyled list-inline list-social-icons">
                    <li>
                        <a href="#"><i class="fa fa-facebook-square fa-2x"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-linkedin-square fa-2x"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-twitter-square fa-2x"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-google-plus-square fa-2x"></i></a>
                    </li>
                </ul>

            </div>
            <div class="col-md-8">
                <p><em><strong>GEORGE L. RICHARDS III, Esq.</strong></em> joined the firm in 1992 concentrating in commercial and residential real estate law, estate planning/probate law and small business law as he had done since being admitted to the Massachusetts Bar in 1985. He received his law degree from Vermont Law School, Cum Laude in 1985 and has been practicing law in Massachusetts since that time.</p>
                <p>He served as an elected member of the Natick Planning Board for 10 years from 1998-2008 and now also concentrates a portion of his practice on municipal permitting. He is currently a member of the Massachusetts Bar Association (Real Estate and Business Law Sections), the Real Estate Bar Association (REBA) and is an agent for several title insurance companies. He has been a member of the Natick Rotary Club since 1998, serving as President in 2004-2005 and on the Board of Directors for many years. In 2009, he was also elected to serve a 10 year term as a Corporator of Middlesex Savings Bank.</p>
            </div>

        </div>

    </div>
</section>
<section class="subscribe text-center">
    <div class="container">
        <a href="{% url 'contact' %}" class="ignite-btn">Schedule a Free Consultation</a>
    </div>
</section>
{% endblock %}